<div class='d-flex flex-column justify-content-center align-items-center'>
    <%= link_to learn_words_path, class: 'btn btn-primary btn-lg m-3 w-50' do %>
    <i class="fas fa-graduation-cap mr-2"></i>
    LEARN WORDS
    <% end %>
    <%= link_to new_word_path, class: 'btn btn-primary btn-lg m-3 w-50' do %>
    <i class="fas fa-book mr-2"></i>
    ADD NEW WORDS
    <% end %>
</div>