<ul class="list-group pb-3">
    <% @practices.each do |practice| %>
        <li class="list-group-item">
            <strong><%= "#{practice.date}: " %></strong>
            <span><%= "#{practice.number_of_practiced_words_per_day} word(s) learned" %></span>
        </li>
    <% end %>
</ul>