<h3 class="pb-5">Added words history:</h1>

<ul class="list-group pb-3">
    <% @word_count_groups.each do |group| %>
        <li class="list-group-item">
            <strong><%= "#{group.first.to_date}: " %></strong>
            <span><%= "#{group.last} word(s) added" %></span>
        </li>
    <% end %>
</ul>