<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
            <th scope="col">Example</th>
        </tr>
    </thead>
    <tbody>
        <% @words.each do |word| %>
        <tr>
            <% article = word.article_none? ? "" : "#{word.read_attribute("article")} "%>
            <td><%= "#{article}#{word.word}" %></td>
            <td><%= word.meaning %></td>
            <td><%= word.example %></td>
        </tr>
        <% end %>
    </tbody>
</table>
